<section class="restaurant-carousel" *ngIf="photos?.length">
  <div class="viewport" (mouseenter)="pauseAutoplay()" (mouseleave)="resumeAutoplay()">
    <div class="image-wrap">
      <img
        [src]="photos[currentIndex]"
        [alt]="restaurantName + ' - Photo ' + (currentIndex + 1)"
        [class.is-fading]="isFading"
      />
    </div>

    <button
      *ngIf="photos.length > 1"
      class="arrow prev"
      type="button"
      aria-label="Previous photo"
      (click)="prev()"
    >
      &#10094;
    </button>

    <button
      *ngIf="photos.length > 1"
      class="arrow next"
      type="button"
      aria-label="Next photo"
      (click)="next()"
    >
      &#10095;
    </button>

    <div class="dots" *ngIf="photos.length > 1">
      <button
        type="button"
        *ngFor="let photo of photos; let i = index"
        class="dot"
        [class.active]="i === currentIndex"
        [attr.aria-label]="'Go to photo ' + (i + 1)"
        (click)="goTo(i)"
      ></button>
    </div>
  </div>
</section>